<!DOCTYPE html>
<html>
<head>
	<title>Node .js express mongoDB CRUD</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="style.css">
  {{!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> --}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../node_modules/ckeditor/ckeditor.js"></script>
</head> 
<body class="bg info" style="overflow-x:hidden;">
     <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="navbar">
      <a class="navbar-brand" href="/">Node blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/">Blogs</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="/posts/create">Create Post</a></li>
          {{#if user.username}}
            <li class="nav-item">
              <a class="nav-link" href="#">{{user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          {{else}}
          {{/if}}
        </ul>
      </div>
    </nav>
	<div class="row">
		<div class="col-md-12" style="margin-top:25px;padding:20px"> 
	        {{{body}}}
        </div>
    </div>
</body>
</html>