<div class="container">
    <div class="row">
        <div class="col md-10">
            <h1>Blogs</h1>
            <p>{{user.username}}</p>
            {{#each post}}
            <div class="well well-lg">
                <h4><a href="/posts/{{this._id}}/view">{{this.title}}</a></h4>
                <small>Written on {{this.created_date}}</small>
            </div>
            {{/each}}
        </div>
        <div class="col md-2">
            <div class="container-fluid">
            <h1>Register</h1>    
            <form autocomplete="off" autofill="off" action="/signup" method="Post">
                <div class="form-group">
                    <input type="hidden" name="_id" value="{{user._id}}">
                    <label>Full name</label>
                    <input type="text" class="form-control" name="fname" placeholder="Full name" value={{user.fullname}}>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Email" value={{user.email}}>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="Password" class="form-control" name="password" placeholder="Password" value={{user.password}}>
                </div>
                <div class="form-group">
                    <label>Mobile</label>
                    <input type="text" class="form-control" name="mobile" placeholder="Mobile" value={{user.mobile}}>
                </div>			
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" name="submit"><i class="fa fa-database"></i>Register</button>
                    <a class="btn btn-success" href="/login"><i class="fa fa-login"></i>Login</a>
                </div> 
            </form>    
        </div>
    </div>
</div> 
