<body id="LoginForm">
<div class="container">
<h1 class="form-heading">login Form</h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">

   <p>Please enter your email and password</p>
   </div>
   

    <form action="/login" method="post" id="Login">

        <div class="form-group">


            <input type="email" class="form-control" name="email" id="inputEmail">

        </div>

        <div class="form-group">

            <input type="password" class="form-control" name="password" id="inputPassword">

        </div>
        <div class="forgot">
        {{!-- <a href="reset.html">Forgot password?</a> --}}
		</div>
        <button type="submit" class="btn btn-primary">Login</button>
        
    </form>
    <a href="/signup"><button type="Submit" class="btn btn-secondary">Register</button></a>
    </div>

</div></div></div>