<h3>{{viewtitle}}</h3>
<form autocomplete="off" action="/signup" method="Post">
	<div class="form-group">
		<input type="hidden" name="_id" value="{{user._id}}">
		<label>Full name</label>
		<input type="text" class="form-control" name="fname" placeholder="Full name" value={{user.fullname}}>
	</div>
	<div class="form-group">
		<label>Email</label>
		<input type="text" class="form-control" name="email" placeholder="Email" value={{user.email}}>
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="Password" class="form-control" name="password" placeholder="Password" value={{user.password}}>
	</div>
    <div class="form-group">
        <label>Mobile</label>
        <input type="text" class="form-control" name="mobile" placeholder="Mobile" value={{user.mobile}}>
    </div>			
	<div class="form-group">
		<button type="submit" class="btn btn-primary" name="submit"><i class="fa fa-database"></i>Submit</button>
		 <a class="btn btn-secondary" href="/login"><i class="fa fa-login"></i>Login</a>
	</div> 
</form>