<h1>Create a Blog</h1>
<form action="/createpost" method="POST">
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control" placeholder="Blog title">
    </div>
    <div class="form-group">
        <label>Body</label>
        <textarea name="postbody" class="form-control" placeholder="Body"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>